/**********************************
 Practica 0501
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/


/**************
  CONTENIDOS

  $General
  $Profesores
  $Footer
***************/


/*-----------
   $GENERAL
------------*/

body {
    padding-top: 60px;
}

.seccion {
    padding-bottom: 20px;
    padding-top: 20px;
}

.todo-ancho {
    background: #ddd;
}

.list-group-item-text {
    margin-top: 10px;
}


/*-----------
   $NAVBAR
------------*/

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 3px;
    opacity: 0.9;
}

.navbar-nav li a:hover {
    color: #faa !important;
}

.navbar-nav li.active a {
    color: #f88 !important;
    background-color: #ddd !important;
}


/*--------------
   $PROFESORES
---------------*/

.persona {
    border: 10px solid transparent;
    margin-bottom: 25px;
    opacity: 0.8;
}

.persona:hover {
    border-color: #f1f1f1;
}


/*-----------
   $FOOTER  
------------*/

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    overflow: hidden;
}

footer h4 {
    margin-bottom: 0.6em;
    padding-left: 40px;
}

footer h5 {
    color: #ddd;
}

footer p {
    color: #aaa;
}

.menu-footer {
    margin-bottom: 20px;
}